// SCSS Variables for Brand Colors (HEX)
$primary-colour: #11A6D9ff; // Picton Blue
$secondary-colour: #FF6B01ff; // Pumpkin
$dark-colour: #082740ff; // Prussian Blue
$light-colour: #FEFEFCff; // Grey
$red: #d62828ff; // fire engine red

// Background Colors
.bg-primary {
  background-color: $primary-colour;
}

.bg-secondary {
  background-color: $secondary-colour;
}

.bg-dark {
  background-color: $dark-colour;
}

.bg-light {
  background-color: $light-colour;
}
.bg-red {
  background-color: $red;
}
.text-red {
  colour: $red;
}

// Text Colors
.text-primary {
  color: $primary-colour;
}

.text-secondary {
  color: $secondary-colour;
}

.text-dark {
  color: $dark-colour;
}

.text-light {
  color: $light-colour;
}

// Button Styles
.ctaBtnBackground {
  background-color: $light-colour;
  color: $primary-colour;

  &:hover {
    background-color: darken($light-colour, 5%);
    color: $primary-colour;
  }
  // Include focus and other states if necessary
}
